SERVICE_NAME=verkko-service
SERVICE_VERSION=0.1.0
SERVICE_ENV=development
SERVICE_DEBUG=true
SERVICE_HOST=0.0.0.0
SERVICE_PORT=8000
SERVICE_LOG_LEVEL=DEBUG
SERVICE_CORS_ORIGINS=["http://localhost:3000","http://localhost:8000"]
